body {
    background-color: #E5E5E5;
    font-family: Poppins;
}

.nav-icon {
    width: 30px;
}

.nav-image {
    width: 30px;
}

.player img {
    width: 56px;
}

.top-player {
    background-color: white;
}

main {
    max-width: 870px;
}

.tex-color {
    color: #562EFF;
}

.blog img {
    width: 224;
}